<h2 class="navbar-brand nav-header">BATTLE CATS</h2>
<p>Welcome to BattleCats!</p>

<p><!-- <div class="circular-landscape small-circle"> image_tag @opponent_pet.avatar.url(:thumb), class: "avatar-img"</div> -->
  <%= @opponent_pet.name %> is in a battle with
  <!-- <div class="circular-landscape small-circle"> image_tag @pet.avatar.url(:thumb), class: "avatar-img"</div> -->
  <%= @pet.name %>.</p>
<p>Login, visit your user profile and click on the incomplete battle.</p>
<p>Thank you,</p>
<p>BattleCats Team</p>
