 <h2 class="navbar-brand nav-header">BATTLE CATS</h2>

<p>Welcome to BattleCats!</p>

<p>Thank you for joining BattleCats. BattleCats is a fun, positive web application where you can display your favorite pet, browse other pets, and battle those pets!</p>

<p>We encourage you to upload a pet and begin the battle.</p>

<p>Thank you,</p>
<p>BattleCats Team</p>

