<h1>pets</h1>

<% if @pets %>
  <ul class="list-group">
    <% @pets.each do |pet| %>
      <li class="list-group-item"><%= image_tag pet.avatar.url(:thumb), class: "img-circle"%>  <%= link_to pet.name, pet_path(pet), class: "inline" %>  </li>
    <% end %>
  </ul>
 <% end %>
