<h1 class="pet-index-header display-3 ">All Pets</h1>

<% if @pets %>
  <ul class="list-group pet-index-list box-shadow-div">
    <% @pets.each do |pet| %>
      <li class="list-group-item">
       <span class="circular-landscape small-circle"><a href="/pets/<%= pet.id %>"><%= image_tag pet.avatar.url(:thumb), class: "avatar-img"%></a></span>
          <span> <%= link_to pet.name, pet_path(pet), class: "pet-index-pet-name h4" %> </span>
        </li>
    <% end %>
  </ul>
 <% end %>
