<div class="alert alert-danger" role="alert">
  The server has encountered an internal error and was unable to complete your request. 
  Please redirect to a correct page using the nav bar below. 
</div>