<div class="alert alert-danger" role="alert">
	<% if logged_in? %>
		You are not allowed to be here. Please return <a href="/pets" class="alert-link">home</a>. 
	<% else %>
		You are not allowed to be here. Please return <a href="/" class="alert-link">home</a>. 
	<% end %> 
</div>




