
<div class="card bg-light border-primary mb-3">
    <div class="card-header border-primary ">
      battle.pet_battles[0].pet.name
      vs.
      battle.pet_battles[1].pet.name
    </div>
    <div class="pet-show-card">
      <div class="top-part-of-card">
        <div class="circular-landscape">
            <p>animation placeholder</p>
          </div>
          <div class="pet-show-card-body">
            <h3 class="pet-show-card-title"></h3>
          <div class="stats-div">

            </div>
            <div class="buttons-div">
              <button class="btn btn-warning action-buttons" id="fight">Start!</button>
            </div>
        </div>
      </div>


    </div>
  </div>
</div>

