body {
  font-family: 'Raleway', sans-serif;
}

.nav-header {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  letter-spacing: 3px;
  word-spacing: 4px;
}

.game-over {
  margin; -100px;
  /*position: relative;*/
}

.pet-index-header {
  text-align: center;
  padding-bottom: 10px;
  text-shadow: -2px 2px 4px rgba(150, 150, 150, 1);
}

.box-shadow-div{
  box-shadow: 0px 2px 5px 6px rgba(219,219,219,1);
}


.pet-index-pet-name {
  position: absolute;
  bottom: 40px;
  /*left: 70px;*/
  display: inline-block;
}

.battle-pick-pet-list{
  margin: 10px 0;
}


.btn{
  margin: 3px;
}
.hidden {
  display: none;

}

.pet-list{
  padding-top: 0px;
}

.pick-ur-pet-items {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding: 5px;
  text-transform: capitalize;
}

.nav-footer{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nav-foot-link{
  display: inline-block;
  width: 30%;
/*  background-color: lightgray;*/
}





